.border {
  border-bottom: 1px solid #1E1E1E26;
}

.header {
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px 0;
  width: 1200px;
  padding-top: 20px;

  &__burger {
    display: none;
    cursor: pointer;
  }

  &__logo {
    max-width: 234px;
    display: flex;
    align-items: center;
  }

  &__menu {
    display: flex;
    align-items: center;

    .menu__list {
      display: flex;
      margin: 0;
      padding: 0;
      list-style: none;
      gap: 20px;
    }

    .menu__item {
      cursor: pointer;
      font-size: 14px;
      font-style: normal;
      font-weight: 400;
      line-height: normal;
    }

    .menu__select {
      color: #1E1E1E;
      font-size: 14px;
      font-style: normal;
      font-weight: 600;
      line-height: normal;
      margin-left: 40px;

      select {
        font-size: 14px;
        font-style: normal;
        font-weight: 600;
        line-height: normal;
        padding: 5px;
        border: none;
        background-color: transparent;
        outline: none;
        cursor: pointer;
      }
    }
  }

  &__search {
    margin-left: 20px;
    position: relative;

    .search__icon {
      cursor: pointer;
    }

    .search__input {
      position: absolute;
      bottom: -10px;
      left: -20px;
      padding: 5px;
      font-size: 14px;
      border: 1px solid #ccc;
      border-radius: 4px;
      outline: none;
    }
  }
}

@media (max-width: 1199px) {
  .header {
    //margin: 10px;
    width: 100%;

    &__burger {
      display: block;
    }

    &__menu {
      display: none;
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      background-color: white;
      flex-direction: column;
      //align-items: flex-start;
      padding: 10px;
      gap: 15px;
      transition: transform 0.3s ease-in-out;
      transform: translateY(-100%); /* Сховати меню за екраном */
      .menu__list {
        display: flex;
        flex-direction: column;
        align-items: center;
        margin: 0;
        padding: 0;
        list-style: none;
        gap: 20px;
      }

      .menu__select {
        margin: 0;
      }
    }

    &__menu.open {
      display: flex;
      align-items: center;
      position: absolute;
      top: 0;
      left: 0;
      transform: translateY(0); /* Відобразити меню при відкритті */
    }
  }
}

