.faq {
  padding: 80px 0;
  width: 1200px;
  margin: 0 auto;


  &__title {
    color: #1E1E1E;
    font-size: 50px;
    font-style: normal;
    font-weight: 800;
    line-height: 110%; /* 55px */
    margin-bottom: 30px;
  }

  &__group {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 20px;
  }

  &__item {
    display: flex;
    flex-direction: column;
   justify-content: center;
    width: 530px;
    padding: 30px;
    border-radius: 20px;
    background: rgba(86, 70, 204, 0.10);
    cursor: pointer;
  }

  &__question {
    display: flex;
    align-items: center;
    justify-content: space-between;
    color: #1E1E1E;
    font-size: 18px;
    font-style: normal;
    font-weight: 700;
    line-height: 110%; /* 19.8px */
    //svg{
    //  margin-left: 30px;
    //}
  }

  &__icon {
   margin-left: 30px;
  }

  &__answer {
    margin-top: 20px;
    color: #1E1E1E;
    font-size: 15px;
    font-style: normal;
    font-weight: 400;
    line-height: 130%; /* 19.5px */
  }
}
//
//.faq {
//  width: 1200px;
//  margin: 0 auto;
//
//  &__title {
//    font-size: 2rem;
//    font-weight: bold;
//    text-align: center;
//    margin-bottom: 30px;
//  }
//
//  /* Контейнер для елементів у рядок */
//  display: flex;
//  flex-wrap: wrap; /* Додаємо можливість переносу на новий рядок, якщо ширина не дозволяє */
//  gap: 20px; /* Простір між елементами */
//
//  &__item {
//    background-color: #f9f9f9;
//    padding: 20px;
//    border-radius: 8px;
//    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
//    cursor: pointer;
//    transition: height 0.3s ease; /* Плавний перехід висоти */
//    width: calc(46% - 20px); /* Кожен елемент займає половину ширини з урахуванням простору між ними */
//    overflow: hidden;
//    position: relative;
//
//    /* Для адаптивності, якщо ширина менша, ніж планшет */
//    @media (max-width: 768px) {
//      width: 100%; /* На вузьких екранах займає всю ширину */
//    }
//
//    /* Фіксована висота для прихованих айтемів */
//    height: 60px;
//    overflow: hidden;
//
//    &--active {
//      height: auto; /* Знімаємо фіксовану висоту для активних айтемів */
//    }
//  }
//
//  &__question {
//    display: flex;
//    justify-content: space-between;
//    align-items: center;
//    font-size: 1.1rem;
//    font-weight: bold;
//  }
//
//  &__icon {
//    font-size: 2rem;
//    color: #3b55e6;
//  }
//
//  &__answer {
//    display: none; /* Спочатку відповіді приховані */
//
//    &--visible {
//      display: block; /* Відображаємо контент для активного айтема */
//      padding-top: 10px;
//      transition: opacity 0.3s ease;
//      opacity: 1;
//    }
//
//    &--hidden {
//      opacity: 0;
//      transition: opacity 0.3s ease;
//    }
//  }
//}