.faq {
  padding: 80px 0;
  width: 1200px;
  margin: 0 auto;

  &__title {
    color: #1E1E1E;
    font-size: 50px;
    font-style: normal;
    font-weight: 800;
    line-height: 110%;
    margin-bottom: 30px;
  }

  &__group {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 20px;
  }

  &__item {
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 530px;
    padding: 30px;
    border-radius: 20px;
    background: rgba(86, 70, 204, 0.10);
    cursor: pointer;
  }

  &__question {
    display: flex;
    align-items: center;
    justify-content: space-between;
    color: #1E1E1E;
    font-size: 18px;
    font-style: normal;
    font-weight: 700;
    line-height: 110%;
  }

  &__icon {
    margin-left: 30px;
  }

  &__answer {
    margin-top: 20px;
    color: #1E1E1E;
    font-size: 15px;
    font-style: normal;
    font-weight: 400;
    line-height: 130%;
  }
}

@media (max-width: 1200px) {
  .faq {
    padding: 40px 0;
    width: 100%;

    &__title {
      font-size: 36px;
      text-align: center;
    }

    &__group {
      align-items: center;
      flex-direction: column;
      gap: 15px;
    }

    &__item {
      width: 80%;
    }

    &__question {
      font-size: 16px;
    }

    &__answer {
      font-size: 14px;
    }
  }
}
