.reviews {
  padding: 80px 0;
  background: rgba(86, 70, 204, 0.10);

  &__wrapper {
    width: 1200px;
    margin: 0 auto;
  }

  &__group {
    display: flex;
    gap: 20px;
  }

  &__header {
    color: #1E1E1E;
    display: flex;
    flex-direction: column;
    align-items: start;
    width: 60%;
    margin-bottom: 30px;
  }

  &__title {
    font-size: 50px;
    font-style: normal;
    font-weight: 800;
    line-height: 110%;
    margin-bottom: 15px;
  }

  &__subtitle {
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 130%;
  }

  &__swiper {
    margin-top: 20px;
  }

  &__card {
    width: 529px;
    flex-shrink: 0;
    border-radius: 20px;
    background: #FFF;
    padding: 30px;
    text-align: left;
  }

  &__card-title {
    font-size: 22px;
    font-style: normal;
    font-weight: 700;
    line-height: 110%;
    margin-bottom: 10px;
  }

  &__card-rating {
    margin-bottom: 15px;
    font-size: 15px;
    font-style: normal;
    font-weight: 400;
    line-height: 130%;

    svg {
      margin-right: 5px;
    }
  }

  &__card-text {
    font-size: 1rem;
    color: #555;
  }

  .pagination {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 20px;

    .prev-slide, .next-slide {
      background: none;
      cursor: pointer;
    }
  }
}


@media (max-width: 1200px) {
  .reviews {
    padding: 20px 0;

    &__wrapper {
      width: 80%;
    }

    &__header {
      width: 100%;
      align-items: center;
      margin-bottom: 20px;
    }

    &__title {
      font-size: 36px;
      text-align: center;
    }

    &__group {
      align-items: center;
      flex-direction: column;
      gap: 10px;
    }

    &__card {
      width: 80%;
    }

    &__card-title {
      font-size: 20px;
    }

    &__card-rating, &__card-text {
      font-size: 14px;
    }
  }
}
