.carousel-container {
  display: flex;
  margin: 0 auto;
  padding: 20px;
  width: 1200px;
  padding-top: 80px;
  padding-bottom: 0;
  overflow: hidden;
}

.carousel-left {
  display: flex;
  flex-direction: column;
  align-items: start;
  width: 60%;
  padding-bottom: 50px;

  .swiper {
    width: 590px;
    margin-left: 0;
  }

  &__title {
    font-size: 50px;
    font-style: normal;
    font-weight: 800;
    line-height: 110%;
  }

  &__text {
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 130%;
    margin-top: 15px;
    margin-bottom: 40px;
  }
}

.carousel-right {
  display: flex;
  align-items: flex-end;
  width: 40%;
  flex-direction: row-reverse;
}


.person-group {
  display: flex;
  width: 322px;
  height: 378px;
  position: relative;
}

.carousel-image {
  height: auto;
  position: absolute;
  bottom: 20px;
  right: -30px;
}

.person {
  width: 322px;
  height: 378px;
  object-fit: cover;
  flex-shrink: 0;
  position: absolute;
  top: 0;
  right: 0;
}

.person-info {
  width: 153px;
  text-align: right;
  margin-top: 15px;
  padding-bottom: 5px;
}

.person-info h4 {
  color: #1E1E1E;
  font-size: 13px;
  font-style: normal;
  font-weight: 700;
  line-height: 130%;
  padding-bottom: 5px;
}

.person-info p {
  color: #1E1E1E;
  text-align: right;
  font-size: 13px;
  font-style: normal;
  font-weight: 400;
  line-height: 130%;
}

.pagination {
  display: flex;
  justify-content: start;
  align-items: center;

}

.pagination button {
  background-color: white;
  border: none;
  cursor: pointer;
}

.swiper-button-next, .swiper-button-prev {
  display: none;
}

.swiper_title {
  color: #5646CC;
  font-size: 22px;
  font-style: normal;
  font-weight: 700;
  line-height: 110%;
}

.swiper_text {
  color: #1E1E1E;
  font-size: 15px;
  font-style: normal;
  font-weight: 400;
  line-height: 130%;
  margin-top: 15px;
  margin-bottom: 40px;
}

.span {
  margin: 0 10px;
  color: #1E1E1E;
  font-size: 15px;
  font-style: normal;
  font-weight: 400;
  line-height: 130%;
}

@media (max-width: 1190px) {

  .carousel-container {
    width: 80%;
    flex-direction: column;
  }
  .carousel-right {
  width: 30%;

}

  .carousel-left {
    width: 80%;

    .swiper {
      width: 80%;
      margin-left: 0;
    }
  }
}

@media (max-width: 480px) {
  .carousel-container {
    width: 80%;
  }
}
